.container{
    display:grid;
    grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
    height: 90vh;
}

.text{
    font-family: "bebas neue";
    font-size: 80px;
    margin-left: 330px;
    margin-top: -50px;
    grid-row: 1/2;
}

.instructions{
    margin-left: 400px;
    /* margin-top: -90px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    grid-row: 2/3;
}

h3{
    
    margin-left: 100px;
    
}

.mic{
    grid-row: 3/4;
    margin-left: 90vh;
    
}
i:hover{
    cursor: pointer;
}
.output {
    grid-row: 4/5;
    margin-left: 35vh;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (width:1440px){
    .container{
        display:grid;
        grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
        height: 90vh;
    }
    
    .text{
        font-family: "bebas neue";
        font-size: 70px;
        margin-left: 240px;
        margin-top: -50px;
        grid-row: 1/2;
    }
    
    .instructions{
        margin-left: 245px;
        /* margin-top: -90px; */
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        grid-row: 2/3;
    }
    
    h3{
        
        margin-left: 100px;
        
    }
    
    .mic{
        grid-row: 3/4;
        margin-left: 70vh;
      
    }
    i:hover{
        cursor: pointer;
    }



    }